@use "sass:color";
@use "sass:math";

// Legacy color helpers rewritten with module API to silence Sass deprecation warnings.
@function lighten($color-value, $amount) {
    @return color.adjust($color-value, $lightness: $amount);
}

@function darken($color-value, $amount) {
    @return color.adjust($color-value, $lightness: -$amount);
}

@function saturate($color-value, $amount) {
    @return color.adjust($color-value, $saturation: $amount);
}

@function desaturate($color-value, $amount) {
    @return color.adjust($color-value, $saturation: -$amount);
}

@function adjust-hue($color-value, $amount) {
    @return color.adjust($color-value, $hue: $amount);
}

@function opacify($color-value, $amount) {
    @return color.adjust($color-value, $alpha: $amount);
}

@function transparentize($color-value, $amount) {
    @return color.adjust($color-value, $alpha: -$amount);
}

@function fade-in($color-value, $amount) {
    @return color.adjust($color-value, $alpha: $amount);
}

@function fade-out($color-value, $amount) {
    @return color.adjust($color-value, $alpha: -$amount);
}

// Override Bootstrap's legacy color-yiq helper to silence Sass warnings.
@function color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light) {
    $r: color.channel($color, "red", $space: rgb);
    $g: color.channel($color, "green", $space: rgb);
    $b: color.channel($color, "blue", $space: rgb);

    $yiq: math.div(($r * 299) + ($g * 587) + ($b * 114), 1000);

    @if ($yiq >= 150) {
        @return $dark;
    }

    @return $light;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'main';
